#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.home-widget {
  transform: opacity 500ms;

  &.loading {
    opacity: 0.25;
  }
}

.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-radius: $radius;
}

/* SECTION LINKS */
.page-links {
  display: flex;
  width: 100%;

  flex-wrap: wrap;
  text-decoration: none;
  color: white;
  font-size: 2vh;
  text-align: center;

  a {
    border-radius: 5px;
    text-decoration: none;
    color: white;
    width: calc(50% - 5px);
    height: 20vh;
    background-size: cover;
    margin-bottom: 10px;

    .span-wrapper {
      overflow: hidden;

      span {
        display: block;
        height: 10vh;
        text-transform: uppercase;
      }

      span + span {
        display: block;
        font-size: 2.5vh;
        height: 10vh;
        text-transform: capitalize;
        font-style: italic;
      }
    }
  }

  @media (hover: hover) {
    .span-wrapper span {
      transform: translateY(100px);
      transition: 0.2s;
    }

    .span-wrapper:hover span {
      transform: translateY(0);
    }
  }

  a.order-link {
    background-image: url('../../images/assets/pizza-1.jpg');
    margin-right: 5px;
  }

  a.booking-link {
    background-image: url('../../images/assets/pizza-2.jpg');
    margin-left: 5px;
  }

  .work-hours {
    border-radius: 5px;
    height: 15vh;
    width: 100%;
    font-size: 3vh;
    background-color: orangered;
    margin-bottom: 10vh;

    span {
      display: block;
      text-transform: uppercase;
      text-align: center;
      height: 10vh;
    }

    span + span {
      text-transform: capitalize;
    }
  }
}

/* COROUSEL */
.opinions {
  padding: 20px;
  margin-bottom: 10vh;
}

.carousel {
  height: 200px;
  box-sizing: border-box;
}

.carousel-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
  display: flex;

  .img {
    background-size: cover;
    width: 50%;
    height: 100%;
  }

  .opinion {
    margin-left: 5px;
    margin-right: 5px;
    width: 50%;
    height: 100%;
  }
}

.flickity-prev-next-button.previous {
  display: none;
}

.flickity-prev-next-button.next {
  display: none;
}

/* GALLERY */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery > .pic-wrapper {
  position: relative;
  flex: 0 0 32%;
  min-height: 150px;
  margin-bottom: 2%;
}

.pic-wrapper .icons-wrapper {
  position: absolute;
  font-size: 24px;
  color: rgb(221, 0, 0);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
  opacity: 0;
}

.pic-image {
  position: absolute;
  width: 100%;
  max-width: 250px;
  height: 100%;
}

.pic-image:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0.3;
}

.pic-image:hover::after {
  background-color: black;
  border-radius: 5px;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.pic-image:hover .icons-wrapper {
  z-index: 2;
  opacity: 1;
  transition: 0.7s;
}

.icons-wrapper i:hover {
  font-size: 2rem;
  transition: 0.3s;
}

.pic-image img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
