#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

// * {
//   //   box-sizing: border-box;
// }

.home-widget {
  transform: opacity 500ms;

  &.loading {
    opacity: 0.25;
  }
}

.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-radius: $radius;
}

/* SECTION LINKS */
.page-links {
  display: flex;
  width: 100%;

  flex-wrap: wrap;
  text-decoration: none;
  color: white;
  font-size: 2vh;
  text-align: center;

  a {
    text-decoration: none;
    color: white;
    width: calc(50% - 5px);
    height: 20vh;
    background-size: cover;
    margin-bottom: 10px;

    .span-wrapper {
      overflow: hidden;

      span {
        display: block;
        height: 10vh;
        text-transform: uppercase;
      }

      span + span {
        display: block;
        font-size: 2.5vh;
        height: 10vh;
        text-transform: capitalize;
        font-style: italic;
      }
    }
  }

  @media (hover: hover) {
    .span-wrapper span {
      transform: translateY(100px);
      transition: 0.2s;
    }

    .span-wrapper:hover span {
      transform: translateY(0);
    }
  }

  a.order-link {
    background-image: url('../../images/assets/pizza-1.jpg');
    margin-right: 5px;
  }

  a.booking-link {
    background-image: url('../../images/assets/pizza-2.jpg');
    margin-left: 5px;
  }

  .work-hours {
    height: 15vh;
    width: 100%;
    font-size: 3vh;
    background-color: orangered;
    margin-bottom: 10vh;

    span {
      display: block;
      text-transform: uppercase;
      text-align: center;
      height: 10vh;
    }

    span + span {
      text-transform: capitalize;
    }
  }
}
